.speech{
    font-style: italic;
    color:black;
    font-size:20px;
}

.direction{
    font-style: Serif;
    color:black;
    font-size: 15px;
    
}

  .Luke{
    background-color: rgb(166, 121, 149);
    font-style: Serif;
  }

  .Revenue{
    background-color: rgb(117, 168, 155);
    font-style:Sans-serif ;
  }

  .table{
    border: 5px solid;
    width:30%;
    padding: 3px;
    border-spacing: 3px;
    border-color: rgb(1, 12, 12);
    margin: 0 20px 20px 0;
    
  }
  .th{
    
    height: 50px;
    border: 2px solid;
    text-align: center;
  }
  .td{
    border: 2px solid;
    height: 30px;
    vertical-align: bottom;
    padding: 15px; 
  }
  tr:nth-child(odd) {
    background-color: rgb(184, 211, 109);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: palevioletred;
  }